<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         name=""
         point="org.eclipse.ui.perspectives">
      <perspective
            name="mcqs"
            fixed="true"
            class="org.eclipselabs.mcqs.ui.swt.perspective.Perspective"
            id="org.eclipselabs.mcqs.ui.swt.perspective.Perspective">
      </perspective>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.views">
      <view
            name="CenterView"
            icon="resources/icons/eclipse_scout.gif"
            class="org.eclipselabs.mcqs.ui.swt.views.CenterView"
            id="org.eclipselabs.mcqs.ui.swt.views.CenterView">
      </view>
      <view
            name="Outline"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipselabs.mcqs.ui.swt.views.OutlinePageView"
            id="org.eclipselabs.mcqs.ui.swt.views.OutlinePageView">
      </view>
      <view
            name="Table Page"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipselabs.mcqs.ui.swt.views.TablePageView"
            id="org.eclipselabs.mcqs.ui.swt.views.TablePageView">
      </view>
      <view
            name="Search"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipselabs.mcqs.ui.swt.views.SearchView"
            id="org.eclipselabs.mcqs.ui.swt.views.SearchView">
      </view>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipselabs.mcqs.ui.swt.SwtStartup">
      </startup>
   </extension>
   <extension
         id="application"
         name="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipselabs.mcqs.ui.swt.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            name="mcqs"
            application="org.eclipselabs.mcqs.ui.swt.application">
         <property
               name="appName"
               value="mcqs">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <dynamic
               class="org.eclipselabs.mcqs.ui.swt.application.menu.DesktopMenuBar"
               id="org.eclipse.scout.swt.menu.dynamic">
         </dynamic>
      </menuContribution>
   </extension>
</plugin>
