<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipselabs.mcqs.shared.services.process.IQuestionsListProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipselabs.mcqs.shared.services.process.IAnswerProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipselabs.mcqs.shared.services.lookup.IChoicesLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipselabs.mcqs.shared.services.process.IAnswersListProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipselabs.mcqs.shared.services.process.IQuestionProcessService">
      </proxy>
   </extension>
</plugin>
